.main-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-content: center;
}
section {
  width: 360px;
  margin-bottom: 2rem;
}
.img-card {
  height: 240px;
  border-radius: 24px;
  min-width: 365px;
}
h2 {
  margin-top: 40px;
}
.img-star {
  height: 18px;
  margin-inline: 3px;
}
span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #828282;

  margin-inline: 2px;
  margin-bottom: 6px;
  margin-left: 10px;
}
h4 {
  margin-bottom: 3rem;
  margin-left: 10px;
}
.stays {
  display: flex;
  justify-content: end;
  margin-inline: 3rem;
  color: #828282;
}
